# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/

# Secrets
*.pem
*.key
*.crt

# Build artifacts
bin/
dist/

# Air temporary files
tmp/
**/tmp/
.air.toml
air_errors.log


config/config.production.yaml
config/config.development.yaml